@import './partials/theme';
@import './partials/listas';
@import './partials/pages.scss';

$networs: (
    youtube: red, 
    twitter: blue, 
    facebook: green, 
    linkedin: white
);

@each $key, $value in $networs {
    .icon-#{$key} {
        background-image: url('../images/#{$key}.svg');
        background-color: $value;
    }
}

@mixin responsive($screen) {
    @if $screen == mobile {
        @media screen and (max-width: 768px) {
            @content;
        }
    } @else if $screen == tablet {
        @media screen and (max-width: 1024px) {
            @content;
        }
    } @else if $screen == desktop {
        @media screen and (max-width: 1440px) {
            @content;
        }
    } @else {
        @content;
    }
}


nav {
    width: 100vw;
    height: 80px;

    ul {
        @for $item from 1 to 4 {
            li {
                background-color: red;
            }
        }

        @include responsive(mobile) {
            li {
                background-color: blue;
            }
        }
    }
    

    a {
        color: $primary-color;
        text-decoration: none;
        font-size: 18px;
        margin-bottom: $m-8;
        transform: scale(1.2);

        span {
            color: $secondary-color;
            font-size: 18px;
            transform: scale(1.2);
        }

        &:hover {
            color: $secondary-color;
        }
    }     
}


@media screen and (max-width: 768px) {
    nav {
        a {
            span {
                color: $primary-color;
            }
        }
    }
}