@import './partials/listas';
@import './partials/pages.scss';


nav {
    width: 100vw;
    height: 80px;

    a {
        color: blue;
        text-decoration: none;
        font-size: 18px;
        transform: scale(1.2);

        span {
            color: red;
            font-size: 18px;
            transform: scale(1.2);
        }

        &:hover {
            color: green;
        }
    }     
}


@media screen and (max-width: 768px) {
    nav {
        a {
            span {
                color: green;
            }
        }
    }
}