*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 16px;
  background: #505050;
}

.page-wrapper{
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 5fr;
  /* grid-auto-rows: 250px; */
}

.pad-32{
  padding: 32px;
}

.head-1 {
  background: white;
}

.header-2 {
  background: yellow;
}

.bannerer {
  background: white;
}

.mondrian {
  background: #3963A4;
}

.texto {
  background: white;
}

.rietveld{
  background: yellow;
}

.vermelho {
  background: red;
}

.branco {
  background: white;
}

.preto {
  background: black;
}