.pai {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1000px;
    height: 600px;
    margin: 100px auto;
    background-color: yellow;
}

.pai div {
    padding: 60px;
    background: blue;
    color: white;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}