.pai {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    justify-content: center;
    height: 600px;
    margin: 100px auto;
    background-color: yellow;
}

.pai div {
    padding: 60px;
    background: blue;
    color: white;
    border-radius: 8px;
    width: 20px;
    height: 20px;
}