@function changeColor($type, $color) {
    @if $type == light {
        @return lighten($color, 20%);
    } @else if $type == dark {
        @return darken($color, 20%);
    } @else {
        @return $color;
    }
}

@mixin card($bgColor, $icon) {
    width: 25% + 20%;
    display: table;
    background-image: url($icon);
    background-color: $bgColor;
    border-radius: 8px;
    margin-right: 30px;

    &:after {
        content: 'status' + $bgColor;
        position: absolute;
        top: 16px;
        background-color: white;
    }
}

@mixin button {
    width: 100px;
    height: 40px;
    background-color: red;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.card-positive {
    @include card(changeColor(dark, green), '../images/chart-up.svg');
}

.card-negative {
    @include card(red, '../images/chart-down.svg');
}

.btn {
    @include button();
}